.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px 20px;
  align-items: center;
}

.introducao img {
  width: 100%;
}

.introducao h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.detalhe-topo {
  left: 0;
}
